# Week 3 Assignment

## Download and pre-process neighbourhood data

Import libraries

In [69]:
import pandas as pd

Scrape the data table into a dataframe

In [70]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df_list = pd.read_html(url)

In [71]:
neighbourhoods = df_list[0]
neighbourhoods.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Check number of rows (which is 130)

In [72]:
neighbourhoods.shape

(180, 3)

Rename 'Postal Code' column to remove whitespace and Remove rows with Borough is 'Not assigned'

In [73]:
neighbourhoods.rename(columns={'Postal Code': 'PostalCode'}, inplace=True)
neighbourhoods = neighbourhoods[neighbourhoods['Borough'] != 'Not assigned'].reset_index(drop=True)
neighbourhoods.head()

  PostalCode           Borough                                Neighbourhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Number of rows dropped to 103 after removing irrelevant rows

In [74]:
neighbourhoods.value_counts('Borough')

Borough
North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
York                 5
East York            5
East Toronto         5
Mississauga          1
dtype: int64

If any Neighbourhood value is 'Not assigned', then copy the vlaue of Borough.

In [75]:
neighbourhoods['Neighbourhood'] = np.where(neighbourhoods['Neighbourhood'] == 'Not assigned', neighbourhoods['Borough'], neighbourhoods['Neighbourhood'])

In [76]:
print("Number of rows: {}".format(neighbourhoods.shape[0]))

Number of rows: 103

## Get Geo Codes

Get geo code file and load into a dataframe

In [77]:
df_geospatial_data = pd.read_csv('http://cocl.us/Geospatial_data')
df_geospatial_data.rename(columns={'Postal Code': 'PostalCode'}, inplace=True)
df_geospatial_data

    PostalCode   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
..         ...        ...        ...
98         M9N  43.706876 -79.518188
99         M9P  43.696319 -79.532242
100        M9R  43.688905 -79.554724
101        M9V  43.739416 -79.588437
102        M9W  43.706748 -79.594054

[103 rows x 3 columns]

Merge geo codes dataframe into the neighbourhoods dataframe based on PostalCode as the key field

In [78]:
neighbourhoods = neighbourhoods.merge(df_geospatial_data, how='inner', on='PostalCode')
neighbourhoods.head(15)

   PostalCode           Borough  ...   Latitude  Longitude
0         M3A        North York  ...  43.753259 -79.329656
1         M4A        North York  ...  43.725882 -79.315572
2         M5A  Downtown Toronto  ...  43.654260 -79.360636
3         M6A        North York  ...  43.718518 -79.464763
4         M7A  Downtown Toronto  ...  43.662301 -79.389494
5         M9A         Etobicoke  ...  43.667856 -79.532242
6         M1B       Scarborough  ...  43.806686 -79.194353
7         M3B        North York  ...  43.745906 -79.352188
8         M4B         East York  ...  43.706397 -79.309937
9         M5B  Downtown Toronto  ...  43.657162 -79.378937
10        M6B        North York  ...  43.709577 -79.445073
11        M9B         Etobicoke  ...  43.650943 -79.554724
12        M1C       Scarborough  ...  43.784535 -79.160497
13        M3C        North York  ...  43.725900 -79.340923
14        M4C         East York  ...  43.695344 -79.318389

[15 rows x 5 columns]